<!DOCTYPE html>

<!-- Je associeert de prefix th met de URI van de Thymeleaf library: http://www.thymeleaf.org.
// cf. XML bestanden.
// Je neemt later met die prefix code (if, for, ...) op in de pagina.-->
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza Luigi</title>
    <link rel="icon" th:href="@{images/luigi.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{css/luigi.css }">
</head>
<body>
<h1>Pizza Luigi</h1>
<img alt="pizza" class="fullwidth" th:src="@{/images/luigi.jpg}">

<!--    Je tikt hard gecodeerd Goede dag in de pagina. Dit wordt straks Goede morgen, Goede dag of Goede avond naargelang het moment van de dag.-->
<!--    <h2>Goede dag</h2>    -->

<!--    th:text vervangt de tekst tussen <span> en </span> door de data die je van de controller   -->
<!--    doorkreeg onder de naam boodschap. Je omringt die naam met ${ en }.                        -->
<!--    Thymeleaf stuurt daarna de HTML als response naar de browser.                              -->
<h3>Goede <span th:text="${boodschap}"></span></h3>
</body>

<h4>De zaakvoerder</h4>


<!--// (1) Je geeft met th:object aan dat je zaakvoeder attributen leest, in het huidig element <dl> en in al zijn child elementen.-->
<dl th:object="${zaakvoerder}">
    <dt>Naam</dt>
<!--    // (2) Je leest het attribuut naam (van zaakvoerder) met een selection expression. Dit is een expression tussen *{ en }.-->
    <dd th:text=" *{naam} "></dd>
    <dt>Aantal kinderen</dt>
    <dd th:text=" *{aantalKinderen} "></dd>
    <dt>Gehuwd</dt>
    <dd th:text=" *{gehuwd} ? 'ja' : 'nee' "></dd>
    <dt>Adres</dt>
<!--    (1) Je geeft aan dat je attributen zal lezen van zaakvoerder.adres. >> GENESTE ATTRIBUTEN  -->
    <dd th:object="${zaakvoerder.adres}"
        th:text="| *{straat} *{huisNr} *{postcode} *{gemeente} |"
    >
        <!--        (2) Je combineert data en vaste tekst (en spaties) tussen   | en |    -->
    </dd>

</dl>

<!--<d1>-->
<!--    <dt>Naam</dt>-->
<!--    <dd th:text="${zaakvoerder.naam}"></dd>-->
<!--    <dt>Aantal Kinderen</dt>-->
<!--    <dd th:text="${zaakvoerder.aantalKinderen}"></dd>-->
<!--    <dt>Gehuwd</dt>-->
<!--    <dd th:text="${zaakvoerder.gehuwd} ? 'Ja' : 'Nee'"></dd>-->
<!--</d1>-->

</html>