<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<!--// gebruik head uit fragments.html en vul parameter (title='...') in. ! Enkele ' ' -->
<head th:replace="fragments::head(title='Pizza\'s')"></head>

<body>
<!--// menu-->
<nav th:replace="fragments::menu"></nav>

<h2>Pizza's</h2>


<ul class="zebra">

<!--    // (1) Je geeft met th:object aan dat je attributen zal lezen van pizza.-->
    <li th:each="pizza:${pizzas}" th:object="${pizza}" >

<!--        // (2) Je toont de attributen naam en prijs van de pizza.-->
        <span th:text="*{naam}" ></span> &euro;<span th:text="*{prijs}" ></span>

<!--        // (1) Thymeleaf neemt de span tag enkel op in de response als de pizza pikant is.-->
        <span th:if="*{pikant}" >, pikant </span>

        <a th:href="@{/pizzas/{id}(id=*{id})}">detail</a>

    </li>

</ul>



</body>
</html>